<div class="row menu">
  <label class="col-md-1" (click)="changeLanguage('en')">English</label>
  <label class="col-md-1" (click)="changeLanguage('af')">Afrikaans</label>
</div>
<div>
  <form  [formGroup]="heroForm" (ngSubmit)="saveData()">
      {{diagnostic}}
    <div class="form-group  row">
      <label class="col-md-3" for="tagserialnumber">
        {{ "PAGES.HOME.TITLE" | translate }}
      </label>
      <input type="text" class="col-md-5 form-control"   name="tagserialnumber" formControlName ="tagserialnumber" />
      <div class="btn btn-success" (click)="readData()">Read</div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div *ngFor="let i of links">
       <a href='{{i}}' target="blank">{{i}}</a>
      </div>
  </form>
 
</div>
