<div class="row menu">
  <label class="col-sm" [class.text-success]="language == 'en'" (click)="changeLanguage('en')">English</label>
  <label class="col-sm" [class.text-success]="language == 'af'" (click)="changeLanguage('af')">Afrikaans</label>
</div>
<div style="padding-top:200px">
  <form [formGroup]="heroForm" (ngSubmit)="saveData()">
    <div class="form-group  row">
      <label class="col-md-3" for="tagserialnumber">
        {{ 'PAGES.HOME.TITLE' | translate }}
      </label>
      <input type="text" focus class="col-md-5 form-control" name="tagserialnumber" formControlName="tagserialnumber" />
      <button type="submit" class="btn btn-primary" [disabled]="heroForm.get('tagserialnumber').invalid">Submit</button>
    </div>
    <table class="table scroll-table">
      <thead>
        <th>
          <label>{{ 'PAGES.HOME.SCANNED' | translate }}</label>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let i of links">
          <td>
            <label> {{ i }}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
